In [1]:
import pandas as pd

In [2]:


path = "../Documents/Ticket Sales.xlsx"
events = pd.read_excel(path, sheet_name="Events")
embrace = pd.read_excel(path, sheet_name="Embrace")
ticketweb = pd.read_excel(path, sheet_name="TicketWeb")
socials = pd.read_excel(path, sheet_name="Socials")

In [3]:
events

,Artist,Date,Venue,Location,# of comments,Presale,Sellout Date,Sections,Min Cost,Max Resell,Notes
0,$uicide Boy$,2024-09-23,SCOTIABANK,Toronto,NaN,NaT,NaN,NaN,NaN,190.0,NaN
1,50 cent,2024-07-20,CABANA,Toronto,79.0,2024-07-04,2024-07-19 00:00:00,NaN,35,130.0,buy more
2,50 cent,2024-07-20,REBEL,Toronto,NaN,NaT,NaN,NaN,37,50.0,NaN
3,6arelyhuman,2024-10-16,Velvet Underground,Toronto,0.0,NaT,NaN,NaN,0,52.0,NaN
4,Alan Walker,2025-02-07,REBEL,Toronto,NaN,NaT,NaN,NaN,55.75,105.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
174,Yuridia,2025-02-20,HISTORY,Toronto,NaN,2024-09-25,NaN,NaN,90,120.0,NaN
175,ZACK FOX,2024-10-16,Other Side at Cervantes - Complex,Denver,0.0,NaT,NaN,NaN,0,917.0,NaN
176,Tylar Hubbard,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
177,AlleyCVT,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,79.0,NaN
178,AC Slater,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN

In [4]:
events["Min Cost"] = pd.to_numeric(events["Min Cost"], errors='coerce')
events["Max Resell"] = pd.to_numeric(events["Max Resell"], errors='coerce')

events = events[events["Min Cost"].notnull()]
events = events[events["Min Cost"] > 0]
events = events[events["Max Resell"].notnull()]
events = events[events["Max Resell"] > 0]

In [5]:
socials = socials[socials["Spotify Popularity"].notnull()]
socials = socials[socials["Spotify Popularity"]>0]

In [6]:
merged_df = pd.merge(events, socials, on='Artist', how='inner')

merged_df["Margin"] = merged_df["Max Resell"] - merged_df["Min Cost"]
merged_df

,Artist,Date,Venue,Location,# of comments,Presale,Sellout Date,Sections,Min Cost,Max Resell,Notes,Instagram Followers,twitter_followers,Spotify Followers,Spotify Popularity,Spotify Monthly Listeners,Stubhub Favourites,Margin
0,50 cent,2024-07-20,CABANA,Toronto,79.0,2024-07-04,2024-07-19 00:00:00,NaN,35.00,130.0,buy more,34000000,13100000,15745963,85,39700000,4234,95.00
1,50 cent,2024-07-20,REBEL,Toronto,NaN,NaT,NaN,NaN,37.00,50.0,NaN,34000000,13100000,15745963,85,39700000,4234,13.00
2,Alan Walker,2025-02-07,REBEL,Toronto,NaN,NaT,NaN,NaN,55.75,105.0,NaN,10000000,861500,39598755,82,29800000,207,49.25
3,Anderson .Paak,2024-09-05,HISTORY,Toronto,NaN,NaT,NaN,NaN,80.00,240.0,NaN,3000000,176,2585792,79,21300000,1281,160.00
4,Artemas,2024-10-03,NaN,Toronto,NaN,NaT,NaN,NaN,20.00,22.0,NaN,272000,3617,961246,80,28800000,104,2.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,Under Oath,2024-12-01,HISTORY,Toronto,NaN,NaT,NaN,NaN,69.50,91.0,NaN,13000000,11600000,12248415,83,41600000,11238,21.50
76,Usher,2024-09-24,SCOTIABANK,Toronto,NaN,NaT,NaN,NaN,137.00,250.0,Section 102/103,312000,279700,1982128,68,5400000,894,113.00
77,Veld Day 1,2024-08-02,NaN,Toronto,NaN,NaT,NaN,NaN,170.00,280.0,NaN,672000,25600,544900,65,5100000,2,110.00
78,Wave to earth,2024-10-27,HISTORY,Toronto,NaN,NaT,NaN,NaN,55.50,248.0,NaN,1000000,75800,3217209,78,8300000,488,192.50
79,Yuridia,2025-02-20,HISTORY,Toronto,NaN,2024-09-25,NaN,NaN,90.00,120.0,NaN,547000,678000,173329,52,518600,10,30.00

In [7]:
print(socials.columns)

Index(['Artist', 'Instagram Followers', 'twitter_followers',
       'Spotify Followers', 'Spotify Popularity', 'Spotify Monthly Listeners',
       'Stubhub Favourites'],
      dtype='object')

In [8]:
merged_df = merged_df[merged_df["Location"] == "Toronto"]
merged_df = merged_df[merged_df["Venue"].notnull()]
merged_df.drop_duplicates

<bound method DataFrame.drop_duplicates of             Artist       Date       Venue Location  # of comments    Presale  \
0          50 cent 2024-07-20      CABANA  Toronto           79.0 2024-07-04
1          50 cent 2024-07-20       REBEL  Toronto            NaN        NaT
2      Alan Walker 2025-02-07       REBEL  Toronto            NaN        NaT
3   Anderson .Paak 2024-09-05     HISTORY  Toronto            NaN        NaT
5         Atarashi 2024-10-06     HISTORY  Toronto            NaN        NaT
..             ...        ...         ...      ...            ...        ...
73            Tyga 2024-08-17      CABANA  Toronto           10.0 2024-07-22
74            Tyga 2024-08-17       REBEL  Toronto           26.0 2024-06-21
76           Usher 2024-09-24  SCOTIABANK  Toronto            NaN        NaT
78   Wave to earth 2024-10-27     HISTORY  Toronto            NaN        NaT
79         Yuridia 2025-02-20     HISTORY  Toronto            NaN 2024-09-25

           Sellout Date  Sections  Min Cost  Max Resell            Notes  \
0   2024-07-19 00:00:00       NaN     35.00       130.0         buy more
1                   NaN       NaN     37.00        50.0              NaN
2                   NaN       NaN     55.75       105.0              NaN
3                   NaN       NaN     80.00       240.0              NaN
5                   NaN       NaN     60.00        50.0         Sold out
..                  ...       ...       ...         ...              ...
73                  NaN       NaN     32.00        75.0              no?
74                  NaN       NaN     30.00        40.0              NaN
76                  NaN       NaN    137.00       250.0  Section 102/103
78                  NaN       NaN     55.50       248.0              NaN
79                  NaN       NaN     90.00       120.0              NaN

    Instagram Followers  twitter_followers  Spotify Followers  \
0              34000000           13100000           15745963
1              34000000           13100000           15745963
2              10000000             861500           39598755
3               3000000                176            2585792
5                   221                484             832737
..                  ...                ...                ...
73               116000              97700             167341
74               116000              97700             167341
76               312000             279700            1982128
78              1000000              75800            3217209
79               547000             678000             173329

    Spotify Popularity  Spotify Monthly Listeners  Stubhub Favourites  Margin
0                   85                   39700000                4234   95.00
1                   85                   39700000                4234   13.00
2                   82                   29800000                 207   49.25
3                   79                   21300000                1281  160.00
5                   60                    1200000                 158  -10.00
..                 ...                        ...                 ...     ...
73                  45                     351900                   1   43.00
74                  45                     351900                   1   10.00
76                  68                    5400000                 894  113.00
78                  78                    8300000                 488  192.50
79                  52                     518600                  10   30.00

[71 rows x 18 columns]>

In [9]:
merged_df.drop_duplicates(inplace=True)

In [10]:
merged_df

,Artist,Date,Venue,Location,# of comments,Presale,Sellout Date,Sections,Min Cost,Max Resell,Notes,Instagram Followers,twitter_followers,Spotify Followers,Spotify Popularity,Spotify Monthly Listeners,Stubhub Favourites,Margin
0,50 cent,2024-07-20,CABANA,Toronto,79.0,2024-07-04,2024-07-19 00:00:00,NaN,35.00,130.0,buy more,34000000,13100000,15745963,85,39700000,4234,95.00
1,50 cent,2024-07-20,REBEL,Toronto,NaN,NaT,NaN,NaN,37.00,50.0,NaN,34000000,13100000,15745963,85,39700000,4234,13.00
2,Alan Walker,2025-02-07,REBEL,Toronto,NaN,NaT,NaN,NaN,55.75,105.0,NaN,10000000,861500,39598755,82,29800000,207,49.25
3,Anderson .Paak,2024-09-05,HISTORY,Toronto,NaN,NaT,NaN,NaN,80.00,240.0,NaN,3000000,176,2585792,79,21300000,1281,160.00
5,Atarashi,2024-10-06,HISTORY,Toronto,NaN,NaT,NaN,NaN,60.00,50.0,Sold out,221,484,832737,60,1200000,158,-10.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,Tyga,2024-08-17,CABANA,Toronto,10.0,2024-07-22,NaN,NaN,32.00,75.0,no?,116000,97700,167341,45,351900,1,43.00
74,Tyga,2024-08-17,REBEL,Toronto,26.0,2024-06-21,NaN,NaN,30.00,40.0,NaN,116000,97700,167341,45,351900,1,10.00
76,Usher,2024-09-24,SCOTIABANK,Toronto,NaN,NaT,NaN,NaN,137.00,250.0,Section 102/103,312000,279700,1982128,68,5400000,894,113.00
78,Wave to earth,2024-10-27,HISTORY,Toronto,NaN,NaT,NaN,NaN,55.50,248.0,NaN,1000000,75800,3217209,78,8300000,488,192.50
79,Yuridia,2025-02-20,HISTORY,Toronto,NaN,2024-09-25,NaN,NaN,90.00,120.0,NaN,547000,678000,173329,52,518600,10,30.00

In [11]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

# Define the features and target variable
features = ['Artist', 'Venue',  'Instagram Followers', 'twitter_followers',
            'Spotify Followers', 'Spotify Popularity', 'Spotify Monthly Listeners',
            'Stubhub Favourites', 'Min Cost']
tfeatures = ['Venue',  'Instagram Followers', 'twitter_followers',
            'Spotify Followers', 'Spotify Popularity', 'Spotify Monthly Listeners',
            'Stubhub Favourites']
X = merged_df[features]
y = merged_df['Margin']  # Change target variable to 'Margin'

# Handle categorical data
X = pd.get_dummies(X, columns=['Venue'], drop_first=True)

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create and train the linear regression model
lr = LinearRegression()
lr.fit(X_train.iloc[:, 1:], y_train)

# Make predictions
y_pred = lr.predict(X_test.iloc[:, 1:])

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
print(f'Mean Squared Error: {mse:.2f}')

Mean Squared Error: 57657.17

In [12]:
from itertools import combinations
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

# Define the features and target variable
features = [  'Instagram Followers', 'twitter_followers',
            'Spotify Followers', 'Spotify Popularity', 'Spotify Monthly Listeners',
            'Stubhub Favourites', 'Min Cost']
X = merged_df[features]
y = merged_df['Margin']

# Handle categorical data
# X = pd.get_dummies(X, columns=['Venue'], drop_first=True)
# Initialize a dictionary to store the scores of each subset
subset_scores = {}


# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

def evaluate_subsets(X_train, y_train, X_test, y_test):
    best_subset = None
    best_mse = float('inf')
    best_features = None

    # Iterate over all possible subsets of features
    for i in range(1, len(features) + 1):
        for subset in combinations(features, i):
            subset = list(subset)
            # Train the model
            lr = LinearRegression()
            lr.fit(X_train[subset], y_train)
            # Make predictions
            y_pred = lr.predict(X_test[subset])
            # Calculate MSE
            mse = mean_squared_error(y_test, y_pred)
            # Update the best subset if the current one is better
            if mse < best_mse:
                best_mse = mse
                best_subset = subset

    return best_subset, best_mse

# Evaluate all possible subsets
best_subset, best_mse = evaluate_subsets(X_train, y_train, X_test, y_test)

print(f'Best subset of features: {best_subset}')
print(f'Best MSE: {best_mse:.2f}')

Best subset of features: ['Instagram Followers', 'twitter_followers', 'Spotify Followers', 'Spotify Popularity', 'Spotify Monthly Listeners', 'Stubhub Favourites', 'Min Cost']
Best MSE: 66673.64

In [13]:
from itertools import combinations
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

# Define the features and target variable
features = ['Instagram Followers', 'twitter_followers', 'Spotify Followers', 'Spotify Popularity', 'Spotify Monthly Listeners', 'Stubhub Favourites', 'Min Cost']
X = merged_df[features]
y = merged_df['Margin']

# Initialize a dictionary to store the scores of each subset
subset_scores = {}

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Iterate over all possible subsets of features
for i in range(1, len(features) + 1):
    for subset in combinations(features, i):
        subset = list(subset)
        # Train the model
        lr = LinearRegression()
        lr.fit(X_train[subset], y_train)
        # Evaluate the model
        score = lr.score(X_test[subset], y_test)
        # Store the subset and its corresponding score
        subset_scores[tuple(subset)] = score

# Find the best subset
best_subset = max(subset_scores, key=subset_scores.get)
best_score = subset_scores[best_subset]

print(f'Best subset of features: {best_subset}')
print(f'Best Score: {best_score:.4f}')

Best subset of features: ('Instagram Followers', 'twitter_followers', 'Spotify Followers', 'Spotify Popularity', 'Spotify Monthly Listeners', 'Stubhub Favourites', 'Min Cost')
Best Score: 0.7471

In [14]:
from sklearn.ensemble import RandomForestRegressor

# Create and train the Random Forest Regressor model
rf = RandomForestRegressor(n_estimators=100, random_state=42)
rf.fit(X_train.iloc[:, 1:], y_train)

# Make predictions
y_pred_rf = rf.predict(X_test.iloc[:, 1:])

# Evaluate the model
mse_rf = mean_squared_error(y_test, y_pred_rf)
print(f'Mean Squared Error (Random Forest): {mse_rf:.2f}')

Mean Squared Error (Random Forest): 46564.05

In [15]:
from itertools import combinations
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

# Define the features and target variable
features = ['Instagram Followers', 'twitter_followers', 'Spotify Followers', 'Spotify Popularity', 'Spotify Monthly Listeners', 'Stubhub Favourites', 'Min Cost']
X = merged_df[features]
y = merged_df['Margin']

# Initialize a dictionary to store the scores of each subset
subset_scores = {}

# Iterate over all possible subsets of features
for i in range(1, len(features) + 1):
    for subset in combinations(features, i):
        subset = list(subset)
        # Split the data into training and testing sets
        X_train, X_test, y_train, y_test = train_test_split(X[subset], y, test_size=0.2, random_state=42)
        # Train the model
        rf = RandomForestRegressor(random_state=42)
        rf.fit(X_train, y_train)
        # Make predictions
        y_pred = rf.predict(X_test)
        # Calculate MSE
        mse = mean_squared_error(y_test, y_pred)
        # Store the subset and its corresponding MSE
        subset_scores[tuple(subset)] = mse

# Find the best subset
best_subset = min(subset_scores, key=subset_scores.get)
best_mse = subset_scores[best_subset]

print(f'Best subset of features: {best_subset}')
print(f'Best MSE: {best_mse:.2f}')

Best subset of features: ('twitter_followers', 'Spotify Monthly Listeners', 'Min Cost')
Best MSE: 40684.42

In [16]:
from itertools import combinations
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

# Define the features and target variable
features = ['Instagram Followers', 'twitter_followers', 'Spotify Followers', 'Spotify Popularity', 'Spotify Monthly Listeners', 'Stubhub Favourites', 'Min Cost']
X = merged_df[features]
y = merged_df['Margin']

# Initialize a dictionary to store the scores of each subset
subset_scores = {}

# Iterate over all possible subsets of features
for i in range(1, len(features) + 1):
    for subset in combinations(features, i):
        subset = list(subset)
        # Split the data into training and testing sets
        X_train, X_test, y_train, y_test = train_test_split(X[subset], y, test_size=0.2, random_state=42)
        # Train the model
        rf = RandomForestRegressor(random_state=42)
        rf.fit(X_train, y_train)
        # Evaluate the model
        score = rf.score(X_test, y_test)
        # Store the subset and its corresponding score
        subset_scores[tuple(subset)] = score

# Find the best subset
best_subset = max(subset_scores, key=subset_scores.get)
best_score = subset_scores[best_subset]

print(f'Best subset of features: {best_subset}')
print(f'Best Score: {best_score:.4f}')

Best subset of features: ('twitter_followers', 'Spotify Monthly Listeners', 'Min Cost')
Best Score: 0.8457

In [17]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

# Define the features and target variable
features = ['Artist', 'twitter_followers', 'Spotify Monthly Listeners', 'Min Cost', 'Venue']
X = merged_df[features]
y = merged_df['Margin']

# Handle categorical data
X = pd.get_dummies(X, columns=['Venue'], drop_first=True)

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create and train the Random Forest Regressor model
rf = RandomForestRegressor(n_estimators=100, random_state=42)
rf.fit(X_train.iloc[:,1:], y_train)

# Make predictions
y_pred = rf.predict(X_test.iloc[:,1:])

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
print(f'Mean Squared Error: {mse:.2f}')

Mean Squared Error: 39673.13

In [18]:
# Predict the margin for Timmy Trumpet using the best random forest model
artist = 'Shawn Mendes'
timmy_trumpet_prediction = rf.predict(X[X['Artist'] == artist].iloc[:,1:])

print(f'Predicted Margin for {artist}: {timmy_trumpet_prediction[0]:.2f}')
print(merged_df[merged_df['Artist'] == artist]['Margin'])

Predicted Margin for Shawn Mendes: 742.35
65    1235.0
Name: Margin, dtype: float64